<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head >
	<meta charset="UTF-8">
	<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<script type="text/javascript">
$( document ).ready(function() {
	

	  var usuarioSeleccionado = "[[${usuarioSeleccionado}]]";

	  if(usuarioSeleccionado!=""){
		  $('#ModalUsuarioDetalles').modal()
	  }

	
})
</script>
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>


<div  th:if="${usuarioSeleccionado != null}" class="modal fade" data-keyboard="false" data-backdrop="static"
		th:id="ModalUsuarioDetalles" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalTitle">Detalles Usuario</h5>


				</div>
				<form id="formDetalles" class="col-12"
					th:object="${usuarioSeleccionado}"
					>
					
					<div class="form-group" id="nombre-group">
                     <label for="username">Username</label>
                        <input disabled="disabled" id="username" th:field="*{username}" type="text" class="form-control" name="username"/>
                       
                    </div>
					
					<div class="form-group" id="nombre-group">
                     <label for="nombre">Nombre</label>
                        <input disabled="disabled" id="nombre" th:field="*{alumno.nombre}" type="text" class="form-control" name="nombre"/>
                       
                    </div>
                 
					<div class="form-group" id="nombre-group">
					
					<label for="email">Email</label>
                     
                        <input disabled="disabled" id="email" th:field="*{alumno.email}" type="text" class="form-control" name="email"/>
                       
                    </div>
                    
                    <div class="form-group" id="nombre-group">
					
					<label for="fecha">Fecha de Nacimiento</label>
                     
                        <input disabled="disabled" id="fecha" th:field="*{alumno.fechaNacimiento}" type="text" class="form-control" name="fecha"/>
                       
                    </div>
                    
                    <div class="form-group" id="nombre-group">
                     
							<label for="telefono">Teléfono</label>                     
                        <input disabled="disabled" id="telefono" th:field="*{telefono}" type="text" class="form-control"  name="telefono"/>
                      
                    </div>
                    
					
					
					<div class="modal-footer">

						<a th:href="@{/listaUsuario}" class="btn btn-secondary">Cerrar</a>
					</div>
				</form>
			</div>
		</div>
	</div>


</body>

</body>
</html>