<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#usuarioNoAceptadoList').DataTable({
			"responsive" : true,
			"language" : idioma
		}).draw(true).columns.adjust();
	});
</script>
<script th:replace="recursos/idiomaTable :: idiomaTable"
	type="text/javascript"></script>
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>

	<h2>Lista de Usuarios Pendientes de Activar</h2>

<div class="container">
		<div class="mx-auto">
			<div class="table-responsive">
				<table id="usuarioNoAceptadoList"
					class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
			<tr>
				<th>Username</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.username}"></td>
				<td th:text="${usuario.alumno.nombre}"></td>
				<td th:text="${usuario.alumno.apellidos}"></td>
				 <td> <a class="btn btn-success" th:href="@{aceptarUsuario/} + ${usuario.id}">Aceptar</a>
				 &nbsp 
				 <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#ModalDenegado'+*{usuario.id}">Rechazar</button>
				 
				 <div class="modal fade" th:id="*{'ModalDenegado'+{usuario.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Motivo del rechazo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form action="/denegarUsuario" method="post">
      <div class="modal-body">
       
          <div class="form-group">
           <input type="hidden" th:value="*{usuario.id}" class="form-control" name="usuarioId">
            <label for="recipient-name" class="col-form-label">Motivo:</label>
            <textarea placeholder="Si dejas este campo vacío, el alumno no tendrá información respecto a su rechazo"  class="form-control" name="motivo"></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        	 <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
      </form>
    </div>
  </div>
</div>
				
				
			</tr>
			
		</tbody>
	</table>

</body>
</html>