<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#usuarioNoAceptadoList').DataTable({
			"responsive" : true,
			"language" : idioma
		}).draw(true).columns.adjust();
	});
</script>
<script th:replace="recursos/idiomaTable :: idiomaTable"
	type="text/javascript"></script>
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>

	<h2>Lista de Usuarios Pendientes de Activar</h2>

<div class="container">
		<div class="mx-auto">
			<div class="table-responsive">
				<table id="usuarioNoAceptadoList"
					class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
			<tr>
				<th>Username</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="usuario : ${usuarios}">
				<td th:text="${usuario.username}"></td>
				<td th:text="${usuario.alumno.nombre}"></td>
				<td th:text="${usuario.alumno.apellidos}"></td>
				 <td><a th:href="@{aceptarUsuario/} + ${usuario.id}"><img width="20" src="img/downDarkBlue.png"></a>
				 &nbsp 
				 <a th:href="@{denegarUsuario/} + ${usuario.id}">Denegar</a></td>
				
			</tr>
			
		</tbody>
	</table>

</body>
</html>