<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Delegados</title>
<link rel="icon" href="img/Simbolo.png">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/form.css}" />
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>
<body>
<body>



	<div th:fragment="againModal" class="modal fade" th:id="ModalAgain"
		tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 th:if="${addDelegadoAgain == 1}" class="modal-title"
						id="ModalTitle">¿Desea añadir otro delegad@ a este grupo?</h5>
					<h5 th:if="${addDelegadoAgain == 0}" class="modal-title"
						id="ModalTitle">Este grupo ya tiene 4 delegad@s asignados</h5>
				</div>

				<div th:if="${addDelegadoAgain == 1}" class="modal-body">

					
						

						<a class="btn btn-success opcionesTabla" th:href="@{/addDelegadoAgain}">Si, quiero añadir más delegad@s</a> 
						<a class="btn btn-primary opcionesTabla" th:href="@{/delegados/} + ${grupo.id}">No, he finalizado la edición</a> 

					

				</div>
				<div class="modal-footer" th:if="${addDelegadoAgain == 0}">
					<a type="button" th:href="@{/delegados/} + ${grupo.id}"
						class="btn btn-secondary opcionesTabla">Cerrar</a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>