<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Administración</title>
<link rel="icon" href="img/Simbolo.png">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>

<body>

	<header th:replace="recursos/base :: navbar"></header>

	<h1>Tablas</h1>
	
	<div class="funcionInicio">
		<a class="funcion" th:href="@{listAlumnos}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Modificar Alumnos</p>
	</div>



	<div class="funcionInicio">
		<a class="funcion" th:href="@{listDepartamentos}"><img
			src="/img/departament.png" width="150"> </a> <br>
		<p>Modificar Departamentos</p>
	</div>




	<div class="funcionInicio">
		<a class="funcion" th:href="@{profesorList}"><img
			src="/img/teacherOrange.png" width="150"></a> <br>
		<p>Modificar Profesores</p>
	</div>

	<div class="funcionInicio">
		<a class="funcion" th:href="@{asignaturaList}"><img
			src="/img/subjectOrange.png" width="150"></a> <br>
		<p>Modificar Asignaturas</p>
	</div>


	<div class="funcionInicio">
		<a class="funcion" th:href="@{grupoList}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Modificar Grupos</p>
	</div>
	
		<div class="funcionInicio">
		<a class="funcion" th:href="@{titulacionList}"><img
			src="/img/subjectOrange.png" width="150"></a> <br>
		<p>Modificar Titulaciones</p>
	</div>
	

</body>
</html>