<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>



	
	<div  th:fragment="deleteModal" class="modal fade" th:id="ModalDepartamentoDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Aviso Importante</h5>
        
      </div>
       
      <div class="modal-body">
       
          <div >
            <p>Usted va a eliminar los datos del Departamento seleccionado, esto conlleva la eliminación de ciertos datos relacionados con el departamento.
            ¿Está segur@?
            </p>
          </div>
        
      </div>
      <div class="modal-footer">
       <a th:href="@{/listDepartamentos}" class="btn btn-secondary">Cerrar</a>
       <a  th:href="@{/departamentoDelete/} + ${idDepartamentoSeleccionado}" class="btn btn-danger">Eliminar</a>
      </div>
    
    </div>
  </div>
</div>    


</body>
</html>