<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>
	<h1>Detalles Profesor</h1>


	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Caracter</th>
				<th>Duracion</th>
				<th>Créditos</th>
				<th>Departamento</th>
				<th>Titulación</th>
				<th>Curso</th>
				<th>Profesores</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td th:text="${asignatura.nombre}"></td>
				<td th:text="${asignatura.caracter}"></td>
				<td th:text="${asignatura.duracion}"></td>
				<td th:text="${asignatura.creditos}"></td>
				<td th:text="${asignatura.departamento.nombre}"></td>
				<td th:text="${asignatura.titulacion.nombre}"></td>
				<td th:text="${asignatura.ano}"></td>
				<td>
					<div th:each="profesor : ${asignatura.profesores}">
					<p th:text="${profesor.nombre}"></p>
					</div>
				</td>



			</tr>

		</tbody>
	</table>

</body>
</html>