<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/form.css}" />
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>
<body>



<body>

     
 <div th:fragment="deleteModal" class="modal fade" th:id="ModalGrupoDelete" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalTitle">Aviso Importante</h5>

				</div>

				<div class="modal-body">

					<div>
						<p>Usted va a eliminar los datos del Grupo seleccionado, esto
							conlleva la eliminación de ciertos datos relacionados con el
							grupo. ¿Está segur@?</p>
					</div>

				</div>
				<div class="modal-footer">
					<a th:href="@{/grupoList}" class="btn btn-secondary">Cerrar</a> <a
						th:href="@{/eliminarGrupo/} + ${idGrupoSeleccionado}"
						class="btn btn-danger">Eliminar</a>
				</div>

			</div>
		</div>
	</div>

</body>
</html>