<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Grupos</title>
<link rel="icon" href="img/Simbolo.png">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#grupoList').DataTable({
			"responsive" : true,
			"language" : idioma,
			"columnDefs" :

			[ {
				"searchable" : false,
				"targets" : 1
			}, {
				"searchable" : false,
				"targets" : 2
			}, {
				"searchable" : false,
				"targets" : 3
			},
			{
				"searchable" : false,
				"targets" : 4
			},

			]
		}).draw(true).columns.adjust();
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {

		var grupo = "[[${grupo}]]";
		var grupoId = "[[${idGrupoSeleccionado}]]";

		if (grupo != "") {
			$('#ModalGrupoCreate').modal()
		}

		if (grupoId != "") {
			$('#ModalGrupoDelete').modal()
		}

	})
</script>
<script th:replace="recursos/idiomaTable :: idiomaTable"
	type="text/javascript"></script>
</head>
<body>
	<header th:replace="recursos/base :: navbar"></header>

<script type="text/javascript"> 
        setTimeout(function () {
  
            // Closing the alert
             $('.alerta').alert('close');
        }, 5000);
    </script> 

	<div class="container-fluid">

		<div  th:if="${alert == 1}" class="alert alert-success alerta" role="alert">
			<strong>Los datos del grupo se han guardado correctamente</strong>
		</div>
		
		
		<div  th:if="${alert == 3}" class="alert alert-success alerta" role="alert">
			<strong>Los datos del grupo se han eliminado correctamente</strong>
		</div>
		<div class="row justify-content-center">
			<div class="col-11">
				<h2 class="tituloTablas">Lista de Grupos</h2>

				<div class="mx-auto">
					<div class="table-responsive">
						<table id="grupoList"
							class="table table-bordered table-hover table-striped tablaDatos">
							<thead class="thead-light">
								<tr>
									<th>Titulacion</th>
									<th>Curso</th>
									<th>Grupo</th>
									<th>Bilingüe</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="grupo : ${grupos}">
									<td th:text="${grupo.titulacion.nombre}"></td>
									<td th:text="${grupo.curso}"></td>
									<td th:text="${grupo.numerogrupo}"></td>
									<td><img th:if="${grupo.esingles}" width="40px" src="/img/reino-unido.png" ></td>
									<td>

										<div class="opcionesTabla">
											<a class="btn btn-primary"
												th:href="@{delegados/} + ${grupo.id}">Ver delegados</a>
										</div>
										<div class="opcionesTabla" sec:authorize="hasRole('ADMIN')">
											<a class="btn btn-danger"
												th:href="@{eliminarGrupoSeguridad/} + ${grupo.id}">Eliminar
												grupo</a>
										</div>

									</td>

								</tr>

							</tbody>
						</table>
						<a class="btn btn-success botonesDespuesTabla"
							sec:authorize="hasAnyRole('ADMIN')" th:href="@{/crearGrupo} ">Crear
							Grupo</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="grupo/deleteGrupoModal :: deleteModal"></div>
	<div th:replace="grupo/createGrupoModal :: createModal"></div>

	
	

</body>
</html>