<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>
	<h3>Nuevo Grupo</h3>


	<form th:action="@{crearGrupo}" th:object="${grupo}" method="post">
		<input type="hidden" th:field="*{id}" />


		<div>
			<label>Titulación</label> <select th:field="*{titulacion}">
				
					<option th:each="t:${titulaciones}" th:value="${t.id}" th:text="${t.nombre}"></option>
				
			</select>
			<p  th:errors="*{titulacion}"></p>
		</div>
		<div>
			<label> Curso</label> <input type="number" th:field="*{curso}">
	<p  th:errors="*{curso}"></p>
		</div>
		<div>
			<label> Numero De Grupo</label> <input type="number"
				th:field="*{numerogrupo}">
<p  th:errors="*{numerogrupo}"></p>

		</div>
		<div>
			<label> Maraca la casilla si es un grupo de Inglés</label> <input
				type="checkbox" th:field="*{esingles}">
		<p  th:errors="*{esingles}"></p>
		
		<p  th:errors="${grupo}"></p>
		</div>
		<div>
			<input type="submit" value="Añadir Grupo"> <a th:href="@{/}"
				class="btn btn-outline-danger">Cancelar</a>
		</div>
	</form>

</body>
</html>