<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<title>Insert title here</title>
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>
<div th:if="${check == 0}">
<h3>No existe ningún alumno en la base de datos, por favor añada alguno</h3>

<a th:href="@{/crearAlumno}">Añadir Alumno</a>

</div>

<div th:if="${check >0}">
<h3>¿Desea seleccionar un Alumno ya creado o crear uno nuevo?</h3>

<a th:href="@{/crearAlumno}">Crear Alumno</a>

<a th:href="@{/listAlumnos}">Seleccionar uno</a>

</div>



<div th:if="${addDelegadoAgain == 1}">
<h3>¿Desea añadir otro delegado a este grupo?</h3>

<a th:href="@{/addDelegadoAgain}">Po Cloro</a>

<a th:href="@{/}">No</a>

</div>

<div th:if="${addDelegadoAgain == 0}">
<h3>Este grupo ya tiene 4 delegados asignados</h3>

<a th:href="@{/modificarDelegados/} + ${grupo.id}">Modificar los delegados</a>

<a th:href="@{/grupoList}">Añadir delegados de otro grupo</a>

<a th:href="@{/}">Inicio</a>

</div>


</body>
</html>