<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
	<meta charset="UTF-8">
</head>
<body>
	
	
	
				<h3>Nuevo delegado</h3>
			
			
				<form th:action="@{guardar}" th:object="${delegado}" method="post">
					<input type="hidden" th:field="*{id}" />
		
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellidos</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellidos}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Edad</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{edad}">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Añadir delegado" class="btn btn-outline-primary">
							<a th:href="@{index}" class="btn btn-outline-danger">Cancelar</a>
						</div>
					</div>
				</form>
			
		
	
</body>
</html>