<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
</head>
<body>



	<h3>Nuevo Usuario</h3>




	<form th:action="@{crearUsuario}" th:object="${usuario}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{alumno}"  />
		<input type="hidden" th:field="*{rol}"  />

		<div>
			<label>UserName</label> <input type="text" th:field="*{username}">
			<p th:errors="*{username}"></p>
		</div>
		<div>
			<label> Password</label> <input type="text" th:field="*{password}">
			<p th:errors="*{password}"></p>
		</div>
		<div>
			<label> Telefono</label> <input type="number" th:field="*{telefono}">
			<p th:errors="*{telefono}"></p>
		</div>
		<div>
		<p th:errors="*{alumno}"></p>
		<p th:errors="*{rol}"></p>
		
			<input type="submit" value="Añadir Alumno"> <a th:href="@{/}"
				class="btn btn-outline-danger">Cancelar</a>
		</div>
	</form>






</body>
</html>