<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
	<meta charset="UTF-8">
</head>
<body>
Esto es una página de Bienvenida

<a th:href="@{crearUsuario}" >Crear</a>

<a th:href="@{listaUsuario}" >Listar Usuarios</a>

<a th:href="@{logout}">Logout</a>

<a th:href="@{departamentos}">Departamentos</a>

<a th:href="@{listDepartamentos}">Listar Departamentos</a>

<a th:href="@{asignaturas}">Asignaturas</a>

<a th:href="@{populateBd}">Base de datos</a>

<a th:href="@{profesorList}">Lista Profesores</a>

<a th:href="@{asignaturaList}">Lista Asignaturas</a>

</body>
</html>