<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#departamentoList').DataTable({
			"responsive" : true,
			"language" : idioma
		}).draw(true).columns.adjust();
	});
</script>
<script type="text/javascript">
$( document ).ready(function() {
		  
	  var titulacion = "[[${titulacionSeleccionado}]]"; 
	  var titulacionCreado = "[[${titulacionCreado}]]"; 
	  
	  
	  if(titulacion!=""){
		  $('#ModalTitulacionUpdate').modal()
	  }
	  
	  if(titulacionCreado!=""){
		  $('#ModalTitulacionCreate').modal()
	  }
	  
})

</script>

<script type="text/javascript">
$(function(){
	$("#selectAsignaturas").select2({ width: '100%' }); 
	
})
</script>
<script th:replace="recursos/idiomaTable :: idiomaTable"
	type="text/javascript"></script>
</head>
<body>
	<header th:replace="recursos/base :: navbar"></header>
	<h2>Lista de Titulaciones</h2>

	<div class="container">
		<div class="mx-auto">
			<div class="table-responsive">
				<table id="departamentoList" class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
						<tr>
							<th>Nombre</th>
							<th></th>
							<th sec:authorize="hasRole('ADMIN')"></th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="titulacion : ${titulaciones}">
							<td th:text="${titulacion.nombre}"></td>
							
								<td sec:authorize="hasRole('ADMIN')">
								<form th:action="@{titulacionUpdate}" method="get">
									<input type="hidden" th:value="${titulacion.id}"
										name="titulacionId"></input>
									<button type="submit" class="btn btn-primary">Modificar
										datos</button>
								</form>

							</td>
							
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
								th:href="@{/titulacionDelete/} + ${titulacion.id}">Eliminar</a></td>
						</tr>

					</tbody>
				</table>
				<div sec:authorize="hasRole('ADMIN')"><a class="btn btn-primary"
								th:href="@{/titulacionCreate}">Crear Titulacion</a></div>
			</div>
		</div>
	</div>
	
	
	<div th:if="${titulacionCreado != null}" class="modal fade" data-keyboard="false" data-backdrop="static"
		th:id="ModalTitulacionCreate" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalTitle">Crear Titulación</h5>


				</div>
				<form id="formUpdate" class="col-12"
					th:object="${titulacionCreado}"
					th:action="@{titulacionCreate}" method="post">

					<input  th:field="*{id}" type="hidden" name="id" />
					
					<div class="form-group" id="nombre-group">
                     <label for="nombre">Nombre</label>
                        <input id="nombre" th:field="*{nombre}" type="text" class="form-control" placeholder="Nombre de la titulación" name="nombre"/>
                       <p class="alert alert-danger" role="alert" th:errors="*{nombre}"></p>
                    </div>	
					
					
					
					
					<div class="modal-footer">

						<a th:href="@{/titulacionList}" class="btn btn-secondary">Cerrar</a>
						<button type="submit" class="btn btn-primary">Confirmar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div th:if="${titulacionSeleccionado != null}" class="modal fade" data-keyboard="false" data-backdrop="static"
		th:id="ModalTitulacionUpdate" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalTitle">Editar Titulación</h5>


				</div>
				<form id="formUpdate" class="col-12"
					th:object="${titulacionSeleccionado}"
					th:action="@{titulacionUpdate}" method="post">

					<input  th:field="*{id}" type="hidden" name="id" />
					
					<div class="form-group" id="nombre-group">
                     <label for="nombre">Nombre</label>
                        <input id="nombre" th:field="*{nombre}" type="text" class="form-control" placeholder="Nombre de la titulación" name="nombre"/>
                       <p class="alert alert-danger" role="alert" th:errors="*{nombre}"></p>
                    </div>	
					
					
					
					
					<div class="modal-footer">

						<a th:href="@{/titulacionList}" class="btn btn-secondary">Cerrar</a>
						<button type="submit" class="btn btn-primary">Confirmar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>