<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>
<body>
<header th:replace="recursos/base :: navbar"></header>
	<h1>Detalles Alumn@</h1>


	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
				<th>Edad</th>
				<th>Grupo del que es delegado</th>
				
			</tr>
		</thead>
		<tbody>

			<tr>
				<td th:text="${alumno.nombre + ' ' + alumno.apellidos}"></td>
				<td th:text="${alumno.email}"></td>
				<td th:text="${alumno.fechaNacimiento}"></td>
				<td th:if="${alumno.grupoDelegado}" th:text="${'Grupo ' + alumno.grupoDelegado.numerogrupo + ' de ' + alumno.grupoDelegado.curso + ' de ' + alumno.grupoDelegado.titulacion.nombre}"></td>
				<td th:if="${alumno.grupoDelegado == null}" th:text="'No es delegado de ningún grupo'"></td>
			</tr>

		</tbody>
	</table>
	
	<div th:if="${siAlumno == 1}" >
	<form action="/crearUsuarioRegistrado" method="post">
             
          <div class="form-group">
           <input type="hidden" th:value="${alumno.id}" class="form-control" name="alumnoId">
			</div>

       	<button type="submit" class="btn btn-primary">Si, son mis datos</button>
      
      </form>
              <a class="btn btn-success" th:href="@{/crearUsuario}">No son mis datos</a>
</div>

</body>
</html>