
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

<object th:fragment="boot">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
	
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<!-- DATA TABLE -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	
	</object>
	
	</head>
	
<body >

	<div th:fragment="navbar">
	<div class="container" >
		<nav class="navbar navbar-expand-lg navbar-dark "
			style="background-color: #FFC300;">
			<a class="navbar-brand text-white" th:href="@{/}"> <img
				src="img/LogoDelegacion.png" height="40px">
			</a>
			<button class="navbar-toggler" data-target="#menu"
				data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav mr-auto">
					<li sec:authorize="hasAnyRole('MIEMBRO, ADMIN')"  
					class="navbar-item active"><a href="/usuariosNoAceptados" class="nav-link">Nuevos Usuarios</a></li>
					<li sec:authorize="hasRole('ADMIN')" 
					class="navbar-item active"><a href="/administrador" class="nav-link">Herramientas Administrador</a></li>
				</ul>
				<div th:if="${#authorization.expression('isAuthenticated()')}">
				<span class="navbar-text"> <b
					class="navbar-item text-white mr-sm-2" th:text="${'Conectado cómo : ' + #authentication.getPrincipal().getUsername()}"></b>
					<a href="/logout"> <img src="../img/logout.png" height="40px">
				</a>
				</span>
				</div>
			</div>
		</nav>
	</div>
	</div>
</body>
</html>