<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>

<body>

	<header  th:replace="recursos/base :: navbar"></header>

<div class="container-fluid">
  <div class="row">
  <div class="col">
  
<a class="twitter-timeline" data-height="700" href="https://twitter.com/delegaETSII?ref_src=twsrc%5Etfw">Tweets by delegaETSII</a>
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  </div>
  
 
 <div class="col-6">
	<h1>Funciones</h1>
	
	<div class="funcionInicio">
		<a class="funcion" th:href="@{listAlumnos}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Alumnos</p>
	</div>

	<div class="funcionInicio">
		<a class="funcion" th:href="@{crearUsuario}"><img
			src="/img/anadir-amigo.png" width="150"> </a><br>
		<p >Crear Miembro</p>
	</div>


	<div class="funcionInicio">
		<a class="funcion" th:href="@{listDepartamentos}"><img
			src="/img/departament.png" width="150"> </a> <br>
		<p>Departamentos</p>
	</div>


	<div class="funcionInicio">
		<a class="funcion" th:href="@{profesorList}"><img
			src="/img/teacherOrange.png" width="150"></a> <br>
		<p>Profesores</p>
	</div>

	<div class="funcionInicio">
		<a class="funcion" th:href="@{asignaturaList}"><img
			src="/img/subjectOrange.png" width="150"></a> <br>
		<p>Asignaturas</p>
	</div>


	<div class="funcionInicio">
		<a class="funcion" th:href="@{grupoList}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Grupos</p>
	</div>
	
	<div class="funcionInicio">
		<a class="funcion" th:href="@{incidenciaCreate}"><img
			src="/img/anadir-amigo.png" width="150"> </a><br>
		<p >Crear Incidencia</p>
	</div>

	 </div>
	

 <div class="col">
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/etsii?ref_src=twsrc%5Etfw">
    Tweets by etsii</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  
  </div>
  
    </div>
    </div>
</body>
</html>