<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">

<object th:replace="recursos/base :: boot"></object>
<link rel="stylesheet" th:href="@{/estilos/base.css}" />
</head>

<body>

	<header th:replace="recursos/base :: navbar"></header>

	<h1>Funciones</h1>
	
	<div class="funcionInicio">
		<a class="funcion" th:href="@{listAlumnos}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Listar Alumnos</p>
	</div>

	<div class="funcionInicio">
		<a class="funcion" th:href="@{crearUsuario}"><img
			src="/img/anadir-amigo.png" width="150"> </a><br>
		<p >Crear Usuario</p>
	</div>

	
<!-- 	<div class="funcionInicio"> -->
<!-- 		<a class="funcion" th:href="@{listaUsuario}"><img -->
<!-- 			src="/img/group.png" width="150"> </a><br> -->
<!-- 		<p>Listar Usuario</p> -->
<!-- 	</div> -->


	<div class="funcionInicio">
		<a class="funcion" th:href="@{listDepartamentos}"><img
			src="/img/departament.png" width="150"> </a> <br>
		<p>Listar Departamentos</p>
	</div>




	<div class="funcionInicio">
		<a class="funcion" th:href="@{profesorList}"><img
			src="/img/teacherOrange.png" width="150"></a> <br>
		<p>Listar Profesores</p>
	</div>

	<div class="funcionInicio">
		<a class="funcion" th:href="@{asignaturaList}"><img
			src="/img/subjectOrange.png" width="150"></a> <br>
		<p>Listar Asignaturas</p>
	</div>


	<div class="funcionInicio">
		<a class="funcion" th:href="@{grupoList}"><img
			src="/img/gruposalumnos.png" width="150"></a> <br>
		<p>Listar Grupos</p>
	</div>
	
		<div class="funcionInicio">
		<a class="funcion" th:href="@{titulacionList}"><img
			src="/img/subjectOrange.png" width="150"></a> <br>
		<p>Listar Titulaciones</p>
	</div>
	

</body>
</html>