<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
	<meta charset="UTF-8">
</head>
<body>

<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
											
						</tr>
					</thead>
					<tbody>
						<tr th:each="delegado: ${lista}">
							<td th:text="${delegado.nombre}"></td>
							<td th:text="${delegado.apellidos}"></td>
							<td th:text="${delegado.edad}"></td>
							
						</tr>
					</tbody>
				
				</table>
</body>
</html>